<app-header></app-header>

<div class="message" id="messagecard">
  <form #tempform="ngForm" (ngSubmit)="searchPatient()">
    <div class="form-group" style="font-family: sans-serif;">
      <label for="patientname" style="font-family: sans-serif;">
        Patient Email Address: <b class="text-danger">*</b>
      </label>
      <input type="text" class="form-control" placeholder="enter patient email" name="patientname"
        [(ngModel)]="this.mail" required #patientname="ngModel"
        [class.is-invalid]="patientname.invalid && patientname.touched">
      <small class="text-danger" [class.d-none]="patientname.valid || patientname.untouched"><b>Enter email</b></small>
    </div>
    <button style="margin-top: 15px; font-family: sans-serif;" [disabled]="tempform.form.invalid" type="submit"
      class="btn registerbtn"><i class="fa fa-check"></i>&nbsp; search Prescription </button>
  </form>
</div>

<div class="panel panel-primary" id="doctorapproval">
  <div class="panel-heading">
    <h2 class="textual" style="color: maroon;">
      Your approval status
      <div *ngFor="let doctor of approval | async">
        <div *ngIf="doctor.status === 'accept'">
          <h2><small style="color: green;">(Verified & Accepted)</small></h2>
        </div>
        <div *ngIf="doctor.status === 'false'">
          <h2><small style="color: rgb(161, 106, 34);">(Not yet Verified)</small></h2>
        </div>
        <div *ngIf="doctor.status === 'reject'">
          <h2><small style="color: rgb(184, 36, 36);">(Verified & Rejected)</small></h2>
        </div>
      </div>
    </h2>
  </div>
  <div class="panel-body">
    <table class="approval-table">
      <thead>
        <tr>
          <th>Identity</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Experience</th>
          <th>Specialization</th>
          <th>Worked at</th>
          <th>Mobile</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of approval | async">
          <td>
            <img *ngIf="doctor.gender === 'Male' || doctor.gender === 'male'" class="bloodimg"
              [src]="'assets/img/maledoctor.png'" width="60" height="60">
            <img *ngIf="doctor.gender === 'Female' || doctor.gender === 'female'" class="bloodimg"
              [src]="'assets/img/femaledoctor.png'" width="60" height="60">
          </td>
          <td>{{doctor.doctorname}}</td>
          <td>{{doctor.email}}</td>
          <td>{{doctor.gender}}</td>
          <td>{{doctor.experience}} years</td>
          <td>{{doctor.specialization}}</td>
          <td>{{doctor.previoushospital}} hospital</td>
          <td>{{doctor.mobile}}</td>
          <td>
            <ng-container *ngIf="currRole === 'doctor' || currRole === 'DOCTOR' && doctor.email === loggedUser">
              <span *ngIf="doctor.status === 'accept'" class="badge accepted">Accepted</span>
              <span *ngIf="doctor.status === 'false'" class="badge pending">Pending</span>
              <span *ngIf="doctor.status === 'reject'" class="badge rejected">Rejected</span>
            </ng-container>
          </td>
        </tr>
        <!-- Show message only if there are NO records -->
        <tr *ngIf="(approval | async)?.length === 0">
          <td colspan="9" class="no-data-msg">
            No approval data available
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-primary" id="patientapproval">
  <div class="panel-heading">
 <h2 class="approval-status-heading">
  Your approval status <small>(verified by the doctor)</small>
</h2>

  </div>
  <div class="panel-body">
    <table class="approval-table">
      <thead>
        <tr>
          <th>Identity</th>
          <th>Patient ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Slot</th>
          <th>Date</th>
          <th>Problem</th>
          <th>Approval</th>
          <th>Admission</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of appointment | async">
          <td>
            <img *ngIf="patient.gender === 'Male' || patient.gender === 'male'" class="bloodimg"
              [src]="'assets/img/maleuser.png'" width="60" height="60">
            <img *ngIf="patient.gender === 'Female' || patient.gender === 'female'" class="bloodimg"
              [src]="'assets/img/femaleuser.png'" width="60" height="60">
          </td>
          <td>{{patient.patientid}}</td>
          <td>{{patient.patientname}}</td>
          <td>{{patient.age}}</td>
          <td>{{patient.slot}}</td>
          <td>{{patient.date}}</td>
          <td>{{patient.problem}}</td>
          <td>
            <ng-container *ngIf="currRole === 'user' || currRole === 'USER' && patient.email === loggedUser">
              <span *ngIf="patient.appointmentstatus === 'accept'" class="badge accepted">Accepted</span>
              <span *ngIf="patient.appointmentstatus === 'false'" class="badge pending">Pending</span>
              <span *ngIf="patient.appointmentstatus === 'reject'" class="badge rejected">Rejected</span>
            </ng-container>
          </td>
          <td>
            <span *ngIf="patient.admissionstatus === 'accept'" class="badge accepted">Admitted</span>
            <span *ngIf="patient.admissionstatus === 'false'" class="badge pending">Pending</span>
            <span *ngIf="patient.admissionstatus === 'reject'" class="badge rejected">Not Admitted</span>
          </td>
        </tr>
        <!-- Show message only if there are NO records -->
        <tr *ngIf="(appointment | async)?.length === 0">
          <td colspan="9" class="no-data-msg">
            No approval data available
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br><br><br><br><br><br><br><br>
<app-footer></app-footer>
