<app-header></app-header>

<div class="dashboard-layout">
  <!-- Main Content Area -->
  <div id="main-content">
    <div class="container">
      <div class="row">
        <div class="dashboard-title">Welcome to HealthCare Management System User Dashboard</div>
        <div class="dashboard-card">
          <div class="circle"><i id="icons" class="fa fa-user-md"></i></div>
          <div class="text">Total Doctors</div>
          <div class="sub-text" *ngFor="let doctor of doctors | async">{{doctor}} doctors</div>
        </div>
        <div class="dashboard-card" style="background-color: rgb(151, 85, 23);">
          <div class="circle"><i id="icons" class="fa fa-user"></i></div>
          <div class="text">Total Users</div>
          <div class="sub-text" *ngFor="let user of users | async">{{user}} users</div>
        </div>
        <div class="dashboard-card" style="background-color: rgb(173, 55, 55);">
          <div class="circle"><i id="icons" class="fa fa-user-o"></i></div>
          <div class="text">Total Patients</div>
          <div class="sub-text" *ngFor="let patient of patients | async">{{patient}} patients</div>
        </div>
        <div class="dashboard-card" style="background-color: rgb(24, 88, 32);">
          <div class="circle"><i id="icons" class="fa fa-calendar"></i></div>
          <div class="text">Total Slots</div>
          <div class="sub-text" *ngFor="let slot of slots | async">{{slot}} slots available</div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
