<footer id="footer" class="footer-custom">
  <div class="footer-container">
    <div class="footer-branding">
      <img src="assets/img/healthcare_logo.png" alt="HealthCare Management Logo" class="footer-logo" />
      <div>
        <div class="footer-title">HealthCare Management</div>
        <div class="footer-tagline">Empowering Digital Health &amp; Wellness</div>
      </div>
    </div>
    <div class="footer-details">
      <div>
        <i class="fa fa-map-marker"></i> Ahmedabad, Gujarat, India
      </div>
      <div>
        <i class="fa fa-envelope"></i> info@healthcaremanagement.com
      </div>
      <div>
        <i class="fa fa-phone"></i> +91 98765 43210
      </div>
    </div>
    <div class="footer-social">
      <a href="#" class="footer-social-icon facebook" title="Facebook"><i class="fa fa-facebook-f"></i></a>
      <a href="#" class="footer-social-icon twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="footer-social-icon linkedin" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
      <!-- <a href="#" class="footer-social-icon github" title="Github"><i class="fa fa-github"></i></a> -->
    </div>
  </div>
  <div class="footer-bottom">
    © {{currentYear}} <b>HealthCare Management</b> | All Rights Reserved
  </div>
</footer>
