<app-header></app-header>

<div class="nordis-page-heading">
  <b>Doctors List</b>
</div>
<small class="nordis-page-subheading">
  (Only approved doctors are suggested by the management)
</small>

<div class="nordis-grid">
  <div *ngFor="let doctor of doctors | async" class="nordis-doctor-card">
    <div class="nordis-doctor-image">
      <div class="nordis-doctor-avatar">
        <img *ngIf="doctor.gender === 'Male' || doctor.gender === 'male'" [src]="'assets/img/maledoctor.png'" alt="Male Doctor">
        <img *ngIf="doctor.gender === 'Female' || doctor.gender === 'female'" [src]="'assets/img/femaledoctor.png'" alt="Female Doctor">
      </div>
    </div>
  <div class="nordis-doctor-details">
  <span class="nordis-label">Name:</span>
  <span class="nordis-value">{{doctor.doctorname}}</span>
  <span class="nordis-label">Specialization:</span>
  <span class="nordis-value">{{doctor.specialization}}</span>
  <span class="nordis-label">Experience:</span>
  <span class="nordis-value">{{doctor.experience}} Year(s)</span>
  <span class="nordis-label">Email:</span>
  <span class="nordis-value">{{doctor.email}}</span>
  <span class="nordis-label">Mobile:</span>
  <span class="nordis-value">{{doctor.mobile}}</span>
  <span class="nordis-label">Gender:</span>
  <span class="nordis-value">{{doctor.gender}}</span>
</div>


    <div
      class="nordis-doc-status"
      [ngClass]="{
        'approved': doctor.status === 'accept',
        'pending': doctor.status === 'false',
        'rejected': doctor.status === 'reject'
      }"
    >
      <b *ngIf="doctor.status === 'accept'">Approved </b>
      <b *ngIf="doctor.status === 'false'">Pending</b>
      <b *ngIf="doctor.status === 'reject'">Rejected</b>
    </div>
  </div>
</div>

<br><br><br>
<app-footer></app-footer>
